<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.37">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.6.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.6.0">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Taken from https://jenkins.io/doc/book/pipeline/docker/</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.13"/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>pipeline {
    agent none
    stages {
        stage(&apos;Back-end&apos;) {
            agent {
                docker {
                    image &apos;maven:3-alpine&apos; 
                    args &apos;-v $HOME/.m2:/root/.m2&apos;
                }
            }
            steps {
                sh &apos;mvn --version&apos;
            }
        }
        stage(&apos;Front-end&apos;) {
            agent {
                docker { image &apos;node:7-alpine&apos; }
            }
            steps {
                sh &apos;node --version&apos;
            }
        }
        stage(&apos;API Test&apos;) {
            agent {
                docker { 
                    image &apos;postman/newman&apos;
                    args &quot;--entrypoint=&apos;&apos;&quot;
                }
            }
            steps {
                sh &apos;newman run &quot;https://www.getpostman.com/collections/8a0c9bc08f062d12dcda&quot;&apos;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>